aiohttp==3.14.5
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
charset-normalizer==3.5.2
colorama==0.4.6
emoji==2.16.0
frozenlist==1.8.0
halo==0.0.31
idna==3.20
log-symbols==0.0.14
python-weather==2.2.5
multidict==7.1.0
six==1.17.0
spinners==0.0.24
termcolor==3.3.0
xmltodict==1.0.4
yarl==1.25.1
